<header>
  <h1 class="dotmatrix"><%= I18n.t(:'index.title') %></h1>
</header>
<main>
  <h1 class="dotmatrix"><%= I18n.t(:'errors.something_went_wrong') %></h1>
</main>
<footer class="dotmatrix">
  <a href="https://github.com/rawls/cricket-scoreboard"><%= I18n.t(:copyright) %> <%= Date.today.year %></a>
</footer>
