.match-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.match-list li {
  background: #191919;
  width: 12em;
  height: 11em;
  margin-top: 0.4em;
  line-height: 1.1em;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border-radius: 1%;
  border-style: solid;
  border-color: grey;
  box-shadow: 1px 2px 5px #111111;
}
.match-list li a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}
.match-list li a p.series {
  color: white;
  font-size: 1.1em;
  line-height: 1.3em;
  min-height: 2.6em;
}
.match-list li a p.team-name {
  min-height: 2.2em;
}
.match-list li a p.status {
  min-height: 1.1em;
}
